@import "/usr/share/rofi/themes/dmenu.rasi"

* {
    font: "Times New Roman 10";
}

window {
    height:   24px;
    padding:  0px;
    border:   0px;
    y-offset: -24px;
}

horibox {
    padding:  0px 6px;
    spacing:  6px;
    children: [ entry, listview ];
}

entry, element, element-text {
    vertical-align: 0.5;
}

element {
    padding: 0px 4px;
    border:  1px;
    border-color: transparent;
    border-radius: 4px;
}

element selected {
    background-color: #660066;
    border-color:     Black;
}
